@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body{ 
    
  background-color: hsl(264, 92%, 10%);


}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  color: #f2f2f2;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #9a92ae;
}

.content button{
  background-color: #2a2663;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.content p{
  margin: 20px 0;
  align-content: left;
}

.pathways .codeBar{

    border-radius: 30%;
    text-align: justify;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border: 2px solid #1891c9;
    border-left-width: 20px;
    padding: 30px;
    background-color: hsl(244, 32%, 83%);
    box-shadow: 0 4px 8px hsla(0, 11%, 91%, 0.916);
    
  
}
.pathways .profBar{
    border-radius: 30%;
    text-align: justify;
    position: absolute;
    top: 60%;
    left: 51%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border: 2px solid #def107;
    border-left-width: 20px;
    padding: 30px;
    background-color: hsl(60, 47%, 78%);
    box-shadow: 0 4px 8px hwb(0 96% 3% / 0.5);

}
.pathways .docBar{
  border-radius: 30%;
  text-align: justify;
  position: absolute;
  top: 60%;
  left: 72%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border: 2px solid hsl(311, 92%, 49%);
  border-left-width: 20px;
  padding: 30px;
  background-color: hsl(310, 47%, 90%);
  box-shadow: 0 4px 8px hwb(0 96% 3% / 0.5);

}
.pathways h2{
  margin-top: 50px;
  text-align: center;
  align-content: center;
}